<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  th:replace="base::Layout(~{::section})">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <section>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi, nostrum tempora, repudiandae necessitatibus
            ipsam accusantium at illo eum beatae sed ipsa quod. Temporibus possimus eveniet provident quaerat, nam
            debitis amet!</p>
    
    <h1>in the section</h1>
        </section>
</body>

</html>